@charset "UTF-8";

body{
    background: rgb(70, 142, 236);
    font: normal 16px Arial, Helvetica, sans-serif;
    color: white;
}
header{
    text-align: center;
}
main{
    min-width: 400;
    max-width: 500px;
    color: black;
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);

}
div#msg{
    text-align: center;
}
main div#msg p strong{
    font: bolder 2em Arial;
}
main > div#foto{
    position: relative;
    height: 315px;
    
}
main div#msg p{
    font-size: 1.2em;
}
div#foto > img{
    
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer{
    text-align: center;
}